


  <!-- footer -->
  <footer class="bg-black site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 contact-us">
                <div>
                    <h4>Contact US</h4>
                    <ul>
                        <li>Sales: <span>888.414.9020</span></li>
                        <li>Customer Service: <span>888.407.3159</span></li>
                    </ul>
                    <p>If your system was installed with an external antenna or repeater please contact your local reseller.</p>
                </div>
            </div>
            <div class="col-sm-4 terms-services">
                <div>
                    <h4>Terms of Service</h4>
                    <ul>
                        <li><a routerLink="reseller">Become a reseller</a></li>
                        <li><a routerLink="/compare">Compare to Satellite Internet</a></li>
                        <li><a routerLink="/coverage">Internet Available Nationwide</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 follow-us">
                <div>
                    <h4>Follow Us</h4>
                    <ul>
                        <li><a href="https://facebook.com/blazinghog">Facebook</a></li>
                        <li><a href="https://www.youtube.com/channel/UCb5P1MSVLPtODQfIvEF8EJQ">Youtube</a></li>
                    </ul>
                    <div class="right-lable-management">
                        <div class='right-label-border'>
                                <div><label class="color-white label-check-coverage" href="#">Check Coverage</label></div>
                                <div><a class="color-light-blue check-coverage-link" onclick="At_TFunc()" >AT&T</a> <a class="color-purple check-coverage-link" onclick="T_mobileFunc()">T-Mobile</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
