<div class="order-page">

    <app-logo-section></app-logo-section>
    <div class="divider"></div>
              <form class="form-horizontal">
                  <div class="account-section row p-t-10 p-b-10 AkzidGroPro">
                      <div class="account-type col-sm-3 text-center p-t-10 p-b-10">
                          <label>
                              Personal account
                              <input type="radio" name="accountType" class="m-l-30">
                          </label><br>
                          <label>
                              Business account 
                              <input type="radio" name="accountType" class="m-l-30">
                          </label>
                      </div>
                      <div class="col-sm-3 MyriadProBold">
                          <div class="number pull-left m-r-10"><span>1</span></div>
                          Enter and your service address and email to verify coverage in your area.
                      </div>
                      <div class="col-sm-3 MyriadProBold">
                          <div class="number pull-left m-r-10"><span>2</span></div>
                          Choose the Phone Network that has the strongest signal at your home.
                      </div>
                      <div class="col-sm-3 MyriadProBold">
                          <div class="number pull-left m-r-10"><span>3</span></div>
                          Enter payment information. Lock in your rate for 24 months.
                      </div>
                  </div>
                  <div class="divider-2"></div>
                  <div class="contact-form row">
                      <div class="col-md-6">
                          <div class="form-group AkzidGroPro">
                              <label for="contactType" class="col-md-3 col-sm-3 col-xs-12 m-t-20">Contact Type</label>
                              <div class="col-md-9 col-sm-9 col-xs-12 m-t-20">
                                  <input type="text" class="form-control" name="contactType">
                              </div>
                              <label for="firstName" class="col-md-3 col-sm-3 col-xs-12 m-t-20">First Name<sup>*</sup></label>
                              <div class="col-md-9 col-sm-9 col-xs-12 m-t-20">
                                  <input type="text" class="form-control" name="firstName">
                              </div>
                              <label for="lastName" class="col-md-3 col-sm-3 col-xs-12 m-t-20">Last Name<sup>*</sup></label>
                              <div class="col-md-9 col-sm-9 col-xs-12 m-t-20">
                                  <input type="text" class="form-control" name="lastName">
                              </div>
                              <label for="email" class="col-md-3 col-sm-3 col-xs-12 m-t-20">E-mail Address<sup>*</sup></label>
                              <div class="col-md-9 col-sm-9 col-xs-12 m-t-20">
                                  <input type="email" class="form-control" name="email">
                              </div>
                              <label for="username" class="col-md-3 col-sm-3 col-xs-12 m-t-20">username:</label>
                              <div class="col-md-9 col-sm-9 col-xs-12 m-t-20">
                                  <input type="text" class="form-control" name="username">
                              </div>
                              <label for="contactPhone" class="col-md-3 col-sm-3 col-xs-12 m-t-20">Contact Phone</label>
                              <div class="col-md-9 col-sm-9 col-xs-12 m-t-20">
                                  <input type="text" class="form-control" name="contactPhone">
                              </div>
                              <label for="cellPhone" class="col-md-3 col-sm-3 col-xs-12 m-t-20">Cell Phone</label>
                              <div class="col-md-9 col-sm-9 col-xs-12 m-t-20">
                                  <input type="text" class="form-control" name="cellPhone">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="address1" class="col-md-3 col-sm-3 col-xs-12 m-t-20">Address 1:</label>
                              <div class="col-md-9 col-sm-9 col-xs-12 m-t-20">
                                  <input type="text" class="form-control" name="address1">
                              </div>
                              <label for="address2" class="col-md-3 col-sm-3 col-xs-12 m-t-20">Address 2:</label>
                              <div class="col-md-9 col-sm-9 col-xs-12 m-t-20">
                                  <input type="text" class="form-control" name="address2">
                              </div>
                              <label for="city" class="col-md-3 col-sm-3 col-xs-12 m-t-20">City:</label>
                              <div class="col-md-9 col-sm-9 col-xs-12 m-t-20">
                                  <input type="text" class="form-control" name="city">
                              </div>
                              <label for="state" class="col-md-3 col-sm-3 col-xs-12 m-t-20">State:</label>
                              <div class="col-md-9 col-sm-9 col-xs-12 m-t-20">
                                  <input type="text" class="form-control state-fixed-width" name="state">
                              </div>
                              <label for="zip" class="col-md-3 col-sm-3 col-xs-12 m-t-20">Zip:</label>
                              <div class="col-md-9 col-sm-9 col-xs-12 m-t-20">
                                  <input type="text" class="form-control zip-fixed-width" name="zip">
                              </div>
                          </div>
                          <div class="verify row">
                              <div class="col-sm-3 col-xs-3 p-t-15 p-b-10 verify-col">
                                  <div class="number"><span>1</span></div>
                              </div>
                              <div class="col-sm-9 col-md-9 col-lg-6  col-xs-9 col-10">
                                  <div class="text m-t-10  MyriadProBold">
                                      Verify Coverage
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="divider-3"></div>
                  <div class="network-section row p-t-10 p-b-10">
                      <div class="col-md-6">
                          <span>Blazing Hog buys bulk data from cell phone companies.</span><br>
                          <span>They give us a HUGE discount because we buy in bulk and handle all the billing and support.</span><br>
                          <span class="notice MyriadProBold">Please contact Blazing Hog with any issues.</span><br>
                          <span>AT&T or T-Mobile only has record of your sim card assigned to Blazing Hog.</span><br>
                          <span>The Carrier does not have your account information.</span>
                      </div>
                      <div class="col-md-6">
                          <div class="col-sm-3 col-xs-3 mobile-second-mark">
                              <div class="number m-t-30 m-b-30"><span>2</span></div>
                          </div>
                          <div class="network-type col-sm-8 col-md-8 col-lg-5 col-xs-9 p-l-20  MyriadProBold">
                              <p>Choose your Network</p>
                              <label class="m-l-30">
                                  AT&T
                                  <input type="radio" name="accountType" class="">
                              </label><br>
                              <label class="m-l-30">
                                  TMobile 
                                  <input type="radio" name="accountType">
                              </label>
                          </div>
                      </div>
                  </div>
                  <div class="divider-4"></div>
                  <div class="price-section row p-t-10">
                      <div class="col-md-8 col-xs-8 bold">
                          <p>4G LTE LLA Service Speeds up to 150 Mbps with unlimited data NO usage caps or device level throttling</p>
                          <p>4G LTE Moderm</p>
                          <p>Customer set up and Shipping</p>
                      </div>
                      <div class="col-md-4 col-xs-4 text-right bold">
                          <p class="stike-text"><span>$139.99</span>$99.99</p>
                          <p>$149.99</p>
                          <p>$49.99</p>
                      </div>
                  </div>
                  <div class="divider-6"></div>
                  <div class="total-section mt10 row text-right bold">
                      <p>Total: $299.97</p>
                      <p>Includes TAX (&lt;TAX&gt;)</p>
                  </div>
                  <div class="divider-5 AkzidGroProMedium">
                      <p>PAYMENT METHOD</p>
                  </div>
                  <div class="payment-form row">
                      <div class="col-md-6">
                          <div class="form-group AkzidGroPro">
                              <div class="col-sm-4 col-xs-4 m-t-20 text-right">
                                  <input type="checkbox" name="useShipping">
                              </div>
                              <label for="useShipping" class="col-sm-8 col-xs-8 m-t-20 AkzidGroPro" style="clear:none">Use Shipping Address</label>
                              <div class="row">
                                  <label for="cardType" class="col-sm-4 col-xs-4 m-t-20 text-right">Card Type</label>
                                  <div class="col-sm-8 col-xs-8 m-t-20">
                                      <input type="text" class="form-control" name="cardType">
                                  </div>
                              </div>
                              <label for="firstName" class="col-sm-4 col-xs-4 m-t-20 text-right">First Name<sup>*</sup></label>
                              <div class="col-sm-8 col-xs-8 m-t-20">
                                  <input type="text" class="form-control" name="firstName">
                              </div>
                              <label for="lastName" class="col-sm-4 col-xs-4 m-t-20 text-right">Last Name<sup>*</sup></label>
                              <div class="col-sm-8 col-xs-8 m-t-20">
                                  <input type="text" class="form-control" name="lastName">
                              </div>
                              <label for="cardNumber" class="col-sm-4 col-xs-4 m-t-20 text-right">Card Number<sup>*</sup></label>
                              <div class="col-sm-8 col-xs-8 m-t-20">
                                  <input type="text" class="form-control" name="cardNumber">
                              </div>
                              <label for="cardExpiry" class="col-sm-4 col-xs-4 m-t-20 text-right">Card Expiry Date:</label>
                              <div class="col-sm-4 col-xs-4 m-t-20 mobile-select-design">
                                  <select name="expiryMonth">
                                      <option value="">MM</option>
                                      <option value="01">01</option>
                                      <option value="02">02</option>
                                      <option value="03">03</option>
                                      <option value="04">04</option>
                                      <option value="05">05</option>
                                      <option value="06">06</option>
                                      <option value="07">07</option>
                                      <option value="08">08</option>
                                      <option value="09">09</option>
                                      <option value="10">10</option>
                                      <option value="11">11</option>
                                      <option value="12">12</option>
                                  </select>
                                  <select name="expiryYear">
                                      <option value="">YEAR</option>
                                      <option value="2018">2018</option>
                                      <option value="2019">2019</option>
                                      <option value="2020">2020</option>
                                  </select>
                              </div>
                              <div class="col-sm-4 col-xs-4 m-t-20 mobile-cvv">
                                  <label class="cvv">
                                      <div>CVV</div>
                                      <input type="text" name="cvv" class="form-control"/>
                                  </label>
                              </div>
                              <label for="contactPhone" class="col-sm-4 col-xs-4 m-t-20 text-right">Contact Phone</label>
                              <div class="col-sm-8 col-xs-8 m-t-20">
                                  <input type="text" class="form-control" name="contactPhone">
                              </div>
                              <label for="cellPhone" class="col-sm-4 col-xs-4 m-t-20 text-right">Cell Phone</label>
                              <div class="col-sm-8 col-xs-8 m-t-20">
                                  <input type="text" class="form-control" name="cellPhone">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="extra-address form-group">
                              <div class="text-center MyriadProBold"><label style="float: none;font-weight: normal;">Use if card Address is DIFFERENT than delivery address</label></div>
                              <label for="address" class="col-sm-2 col-xs-2 m-t-20 text-right AkzidGroPro">Address:</label>
                              <div class="col-sm-10 col-xs-10 m-t-20">
                                  <input type="text" class="form-control" name="address">
                              </div>
                              <label for="city" class="col-sm-2 m-t-20 text-right AkzidGroPro">City:</label>
                              <div class="col-sm-10 col-xs-10 m-t-20">
                                  <input type="text" class="form-control" name="city">
                              </div>
                              <label for="st" class="col-sm-2 col-xs-2 m-t-20 text-right AkzidGroPro midlle-align-desk">ST</label>
                              <div class="cvv col-sm-3 col-xs-3 m-t-20">
                                  <input type="text" name="st">
                              </div>
                              <label for="zipCode" class="col-sm-3 col-xs-3 m-t-20 AkzidGroPro midlle-align-desk">Zip Code</label>
                              <div class="cvv col-sm-2 col-xs-2 m-t-20">
                                  <input type="text" name="zipCode">
                              </div>
                          </div>
                          <div class="verify row">
                              <div class="col-sm-3 col-xs-3 p-t-15 p-b-10">
                                  <div class="number"><span>3</span></div>
                              </div>
                              <div class="col-sm-9 col-xs-9 AkzidGroPro">
                                  <div class="text m-t-10 m-b-10">
                                      Pay Now
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </form>
          </div>