<div class="logo-section row">
  <div class="col-md-5">
    <img src="./assets/img/order_hog.png" alt="blazinghog" />
    <p class="MyriadProBold">Now you can play and stream in HD!</p>
  </div>
  <div class="logo-league col-md-2 text-center">
    <img src="./assets/img/order_league.jpg" class="" alt="league legends" />
  </div>
  <div class="logo-fortnite col-md-2 text-center">
    <img src="./assets/img/order_fortnite.jpg" class="" alt="fortnite" />
  </div>
  <div class="logo-netflix col-md-3 text-center">
    <img src="./assets/img/Netflix_Logo_RGB.png" class="" alt="netflix" />
  </div>
</div>