<main>
<div class="page-reseller">
  <div class="row ">
      <div class="col-md-8 ">
          <div class="sub-title">
              What is Blazing Hog?
          </div>
          <div class="sub-description">
              Blazing Hog has internet coverage to over 120 million households in the United States making us
              one
              of the top 5 Internet providers in the country by total coverage.
          </div>
          <div class="sub-title">
              How does this work?
          </div>
          <div class="sub-description">
              Blazing Hog is a MVNO (Mobile Virtual Network Operator) like Boost or Straight Talk. We have 4G
              LTE
              data agreements with AT&T, T-Mobile, and Verizon allowing us to offer unlimited data anywhere
              within
              their combined 4G LTE coverage areas.
          </div>
          <div class="sub-title">
              Why should you sell Blazing Hog?
          </div>
          <div class="sub-description">
              The average U.S Household now uses 190Gigs of data monthly. Over 155 million Americans play
              video
              games and 83.7 million play multiplayer online games. Blazing Hog unleases the full power of
              the
              Internet for rural households. Now everyone can stream unlimited in HD and online game with
              friends.
              This is a ground floor opportunity for you to offer a unique service that solves a huge problem
              for
              rural customers.
          </div>
      </div>
      <div class="col-md-4  reseller-form-col">

          <div class="reseller-form form-group">
              <div class="reseller-form-border row">
                
                  <div class="row request-reseller">
                      <div class="text-center ">Request Reseller Packet</div>
                  </div>
                  <div class="row">
                      <label for="company-name" class="col-sm-5 col-label  col-xs-5 m-t-20 text-left">Company Name:</label>
                      <div class="col-sm-7 col-xs-7 m-t-20">
                          <input type="text" class="form-control" name="company-name" [(ngModel)]="addEmail.company_name" required>
                      </div>
                  </div>
                  <div class="row">
                      <label for="contact-name" class="col-sm-5 col-label  col-xs-5 m-t-20 text-left">Contact Name:</label>
                      <div class="col-sm-7 col-xs-7 m-t-20">
                          <input type="text" class="form-control" name="contact-name" [(ngModel)]="addEmail.contact_name" required>
                      </div>
                  </div>
                  <div class="row">
                      <label for="email" class="col-sm-5 col-label  col-xs-5 m-t-20 text-left">Email</label>
                      <div class=" col-sm-7 col-xs-7 m-t-20">
                          <input type="email" class="form-control" name="email" [(ngModel)]="addEmail.email" required>
                      </div>
                  </div>
                  <div class="row">
                      <label for="phone" class="col-sm-5 col-label  col-xs-5 m-t-20 text-left">Phone:</label>
                      <div class="col-sm-7 col-xs-7 m-t-20">
                          <input type="text" class="form-control" name="phone" [(ngModel)]="addEmail.phone" required>
                      </div>
                  </div>
                  <div class="row">
                      <label for="company-website" class="col-sm-5 col-label  col-xs-5 m-t-20 text-left">Company
                          Website:</label>
                      <div class="col-sm-7 col-xs-7 m-t-20"> 
                          <input type="text" class="form-control" name="company-website" [(ngModel)]="addEmail.company_website" required>
                      </div>
                  </div>
                  <div class="row" class="sendrow">
                      <input type="button" class="btn btn-prmary sendbtn" value="Submit" (click) = "addNewEmail()">
                  </div>
                  <div class="row review-text  m-t-20">
                      <div class="text-center ">Please allow 48 Hours for review</div>
                  </div>

              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-8 col-12">
          <div class="numbers">The Numbers:</div>
          <div class="numbers-list">
              <div class="numbers-list-item">
                  <div class="top-letter">Peak Speed</div>
                  <div class="bottom-letter">150<sub class="mbps">Mbps</sub></div>
              </div>
              <div class="numbers-list-item">
                  <div class="top-letter">Average Speed</div>
                  <div class="bottom-letter">27.8<sub class="mbps">Mbps</sub></div>
              </div>
              <div class="numbers-list-item">
                  <div class="top-letter">Average Ping</div>
                  <div class="bottom-letter">35.76<sub class="mbps">Mbps</sub></div>
              </div>
          </div>
      </div>
  </div>





</div>

</main>