@font-face {
    font-family: "AkzidGroPro";
    src: url("assets/fonts/AkzidGroProReg.otf") format("opentype");
}
@font-face {
    font-family: "AkzidGroProBold";
    src: url("assets/fonts/AkzidGroProBol.otf") format("opentype"); 
    /* added by arturo */
}
@font-face {
    font-family: "MyriadPro";
    src: url("assets/fonts/MyriadPro-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Myriad Pro";
    src: url("assets/fonts/MyriadPro-Regular.otf") format("opentype");
}
@font-face {
    font-family: "MyriadProBold";
    src: url("assets/fonts/MyriadPro-Bold.otf") format("opentype");
}
@font-face {
    font-family: "MyriadProSemi";
    src: url("assets/fonts/myriadpro-blacksemicn.otf") format("opentype");
}



.AkzidGroPro{ font-family: "AkzidGroPro" }
.MyriadPro{ font-family: "MyriadPro" }
.MyriadProBold{ font-family: "MyriadProBold" }

body {
    font-family: "AkzidGroPro";
    color: #000;
    overflow-x: hidden;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.p-t-10 {
    padding-top: 10px;
}
.p-t-20 {
    padding-top: 20px;
}
.p-t-15 {
    padding-top: 15px !important;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-r-20 {
    padding-right: 20px;
}

.p-l-20 {
    padding-left: 20px;
}
.p-l-30 {
    padding-left: 30px;
}

.m-t-10 {
    margin-top: 10px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-t-30 {
    margin-top: 30px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.m-b-30 {
    margin-bottom: 30px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-l-30 {
    margin-left: 30px !important;
}

.bg-black {
    background: #000;
}

.c-white {
    color: white;
}

/* header */
header .top-nav {
    border-bottom: 3px solid #ea001b;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: lighter;
    padding: 10px 20px;
}
.navbar {
    margin-bottom: 0px;
    font-weight: lighter;
}
.navbar-default {
    background-color: #ea001b;
    font-size: 18px;
    border: none;
    border-radius: unset;
    padding: 0 48px;
}

.navbar-brand {
    height: 100px;
    padding: 0;
}

.navbar-brand img {
    max-height: 100px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ffff00;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #ffff00;
}
.navbar-nav>li>a {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #ea001b;
}

.navbar-default .navbar-nav.navbar-main {
    padding: 45px;
}

.navbar-default .navbar-main .home a {
    padding-right: 30px;
}

.navbar-default .navbar-nav.navbar-right {
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.navbar-default .navbar-right li:first-child {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    
}
.navbar-default .navbar-right li a,.navbar-default .navbar-right li{ display: inline-block; }
.navbar-default .navbar-right li:first-child,.navbar-default .navbar-right li:first-child a{
    font-size:32px;
    font-weight:bold;
    color: #fff;
    padding: 0;
    margin-right: 30px;
}

.navbar-right .nav-right-space {
    margin-top: 20px;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-toggle {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: unset;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #ea001b;
}

/* home page */
.banner-section {
    background: url(assets/img/banner.jpg) no-repeat center;
    background-size: cover;
    padding: 50px 0 100px 80px;
}
.banner-section p {
    color: white;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 0 10px 5px rgba(0,0,0,0.7), 0 0 6px rgba(0,0,0,0.4);
}
.order-section {
    background: #000;
    color: #fff;
}
.order-section div:first-child {
    font-size: 36px;
}
.order-section div:nth-child(2) {
    font-size: 52px;
}
.speed-section p {
    font-weight: lighter;
    font-size: 36px;
}
.speed-section p.speed-value {
    font-size: 55px;
}
.speed-section p.speed-value span {
    font-size: 47px;
}
.lte-section p {
    font-size: 42px;
    margin: 0;
    line-height: 1;
    font-family: "AkzidGroProBold";
    /* added by arturo */
}
.table-section {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 35px;
    /* added by arturo */
}
.table-section b{
    font-size: 37px;
    font-family: "AkzidGroProBold";
    /* created by arturo */
}

.table-section .small {
    font-size: 29px;
}
.table-section .table-data {
    font-size: 40px;
}
.table-section .table-data strong{
    font-style: italic;
}


.table-section .table-view {
    background: #e6e7e8;
    margin: 10px 15%;
    border-radius: 40px;
    border: 3px solid #000;
}

.definition-row{
    padding: 0 15%;
}
.table-view div {
    padding: 30px;
}
.table-section .table>thead>tr>th {
    border-bottom: unset;
}
.table-section .table>tbody>tr>td {
    border-top: unset;
    border-bottom: 3px solid #bbbdbf;
}
.table-section ol {
    padding-left: 150px;
}
.blazing-section {
    background: url(assets/img/bglte.jpg) no-repeat center;
    background-size: cover;
    color: white;
}
.blazing-section .section-title p{
    font-size: 98px;
    font-weight: bold;
    font-family: "AkzidGroProBold";
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}/* added by arturo */
.blazing-section .section-content p {
    font-size: 98px;
    font-weight: bold;
    font-family: "AkzidGroProBold";
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 20px #000, 3px 3px 20px #000;
}
.blazing-section .section-content .small {
    font-size: 42px;
}
.blazing-section {
    padding: 40px 100px 230px 100px;
    text-align:center;
}
.blazing-section .section-content {
    padding-top: 200px;
    padding-left: 200px;
    text-align: left;
    /* added by artruo */
}
.blazing-section .section-content p {
    line-height: 1;
}
.home-section {
    height: 500px;
    background-image: url(assets/img/bottom1.png);
    background-repeat: no-repeat;
    background-position: left 0 top 0;
    background-size: 51%;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 104px;
    color: white;
    position: relative;
}
.home-section .righthalf {
    background: url(assets/img/bottom2.png) no-repeat;
    width: 50%;
    position: absolute;
    background-size: cover;
    right: 0;
    top: 0;
    height: 100%;;
}
.home-section .center-content {
    position: absolute;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    font-family: "AkzidGroProBold";
    text-shadow:2px -2px 2px black,  2px -2px 2px black, 2px -2px 2px black, 2px -2px 20px black, 0 0 20px black;
    /* added by arturo */
}
.travel-section {
    background: black;
    font-size: 60px;
    color: white;
}
.travel-section img {
    max-width: 400px;
}
.travel-section span {
    text-shadow: -4px 4px 11px #000;
}

.router-section .router {
    position: absolute;
    left: 100px;
}
.router-section .beach-left{
    background: url(assets/img/beach1.png) no-repeat;
    background-size:cover;
    min-height: 420px;
}

.router-section .beach-right{
    background: url(assets/img/beach2.png) no-repeat;
    background-size: cover;
    min-height: 420px;
    background-position: center bottom;
}
.router-section img {
    /* position: absolute; */
    top: 0;
    right: 0;
}
.router-section .content {
    position: absolute;
    font-size: 60px;
    /* right: 396px; */
    left: 55px;
    top: 65px;
    color: white;
}

/* order page */
.order-page {
    font-family: "MyriadPro";
}
.order-page .logo-section {
    font-size: 29px;
    font-weight: bold;
}
.order-page .logo-section {
    padding: 20px 30px;
}
.order-page .logo-section .logo-league {
    padding-top: 45px;
    padding-bottom: 45px;
}
.order-page .logo-section .logo-fortnite {
    padding-top: 33px;
    padding-bottom: 33px;
}
.order-page .logo-section .logo-netflix {
    padding-top: 20px;
    padding-bottom: 20px;
}
.order-page .logo-section .logo-league img {
    max-width: 155px;
}
.order-page .logo-section .logo-fortnite img {
    max-width: 155px;
}
.order-page .logo-section .logo-netflix img {
    max-width: 265px;
}
.order-page .divider {
    height: 52px;
    background: #eb001b;
}
.order-page .account-section {
    font-size: 21px;
    font-weight: bold;
}
.order-page .account-section .account-type {
    font-size: 20px;
}
.order-page .number {
    font-size: 34px;
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 50%;
    color: white;
    text-align: center;
}
.order-page .divider-2 {
    background: #e6e6e6;
    height: 66px;
    border: 1px solid #000;
    border-left: unset;
    border-right: unset;
}
.order-page .contact-form {
    padding: 20px 150px 70px 150px;
    font-size: 17px;
}
.order-page .contact-form .verify {
    padding-top: 20px;
}
.order-page .contact-form .text {
    font-size: 27px;
    color: #ff0000;
    padding: 10px 0 10px 30px;
    border: 1px solid #000;
    background: #ffff00;
    border-radius: 12px;
}
.order-page .divider-3 {
    height: 52px;
    background: #eb001b;
}
.order-page .network-section,
.order-page .price-section,
.order-page .total-section,
.order-page .divider-5
 {
    padding-left: 70px;
    padding-right: 70px;
}
.order-page .divider-4 {
    height: 17px;
    background: #e6e6e6;
    border: 1px solid #000;
    border-right: unset;
    border-left: unset;
}
.order-page .network-section .notice {
    font-size: 28px;
}
.order-page .network-section .network-type {
    font-size: 23px;
}
.order-page .network-section .network-type p {
    color: #ff0000;
}
.order-page .network-section .network-type {
    padding-top: 0px;
    background: #fcee21;
    border: 1px solid #000;
}
.order-page .divider-6 {
    background: #000;
    height: 1px;
}
.order-page .price-section {
    font-size: 15px;
}
.order-page .divider-5 {
    background: #e6e6e6;padding-top: 20px; padding-bottom: 10px;
    border: 1px solid #000;
    border-right: unset;
    border-left: unset;
    font-size: 25px;
}
.order-page .payment-form {
    padding: 20px 70px 20px 70px;
    font-size: 17px;
}
.order-page .payment-form .verify {
    padding-top: 20px;
}
.order-page .payment-form .text {
    font-size: 27px; text-align: center;
    color: #ff0000;
    padding: 10px 0 10px 10px;
    border: 1px solid #000;
    background: #ffff00;
    border-radius: 12px;
}
.order-page .payment-form .cvv {
    display: flex;
}
.order-page .payment-form .cvv input {
    width: 100px;
}
.order-page .payment-form .extra-address {
    background: #f2f2f2;
    border: 1px solid #000;
    padding: 10px 50px 30px 10px;
}
.order-page .payment-form .extra-address .text-center {
    color: #ff0000;
}

@media (max-width: 1199px) {
    /* header */
    .navbar-default {
        padding: 0 15px;
    }
    .navbar-default .navbar-main .home a {
        padding-right: 10px;
    }
    .nav>li>a {
        padding: 10px 10px;
    }
    .navbar-default .navbar-nav.navbar-main {
        padding: 30px 0;
    }
    .navbar-right .nav-right-space {
        margin-top: 0px;
    }
    .navbar-default .navbar-nav.navbar-right {
        padding: 10px 0;
    }
    .navbar-right {
        font-size: 13px;
    }

    /* home page */
    .banner-section p {
        font-size: 67px;
    }
    .order-section div:first-child {
        font-size: 23px;
    }
    .order-section div:nth-child(2) {
        font-size: 36px;
    }
    .speed-section p {
        font-size: 23px;
    }
    .speed-section p.speed-value {
        font-size: 36px;
    }
    .speed-section p.speed-value span {
        font-size: 23px;
    }
    .lte-section p {
        font-size: 28px;
    }
    .blazing-section .section-title p, .blazing-section .section-content p {
        font-size: 60px;
    }
    .blazing-section .section-content .small {
        font-size: 28px;
    }
    .table-section {
        font-size: 32px;
    }
    .table-view .table-data {
        max-width: 42px;
    }
    .table-section .table-data {
        font-size: 28px;
    }
    .table-section .table-view img {
        max-width: 42px;
    }
    .table-section .small {
        font-size: 18px;
    }

    /* order page */
    .order-page .logo-section .logo-league {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .order-page .logo-section .logo-fortnite {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .order-page .logo-section .logo-netflix {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .order-page .logo-section .logo-league img {
        max-width: 130px;
    }
    .order-page .logo-section .logo-fortnite img {
        max-width: 160px;
    }
    .order-page .logo-section .logo-netflix img {
        max-width: 240px;
    }
}

@media (max-width: 961px) {
    /* header */
    .navbar-default {
        padding: 0 15px;
    }
    .navbar-default .navbar-main .home a {
        padding-right: 10px;
    }
    .nav>li>a {
        padding: 10px 10px;
    }
    .navbar-default .navbar-nav.navbar-main {
        padding: 30px 0;
    }
    .navbar-right .nav-right-space {
        margin-top: 0px;
    }
    .navbar-default .navbar-nav.navbar-right {
        padding: 10px 0;
    }

    /* home page */
    .banner-section {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
    .banner-section p {
        font-size: 70px;
    }
    .order-section div:nth-child(2) {
        text-align: center;
    }
    .blazing-section {
        padding: 40px 0 230px 40px;
    }
    .blazing-section .section-content {
        padding-left: 130px;
    }
    .table-section {
        font-size: 26px;
    }
    .table-section .table-data {
        font-size: 20px;
    }
    .home-section {
        font-size: 88px;
    }
    .travel-section {
        font-size: 42px;
    }
}

@media (max-width: 767px) {
    /* header */
    .navbar-default .navbar-nav.navbar-main {
        padding: 0;
    }

    /* home page */
    .blazing-section {
        padding: 40px 0 200px 0;
        text-align: center
    }
    .blazing-section .section-content {
        padding-left: 0;
    }
    .table-responsive {
        border: unset;
    }
    .home-section {
        height: 420px;
        font-size: 70px;
    }
}

@media (max-width: 600px) {
    /* header */
    header .top-nav {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 17px;
    }
    .navbar-brand {
        height: 80px;
    }
    .navbar-brand img {
        max-height: 80px;
    }

    /* home page */
    .banner-section p {
        font-size: 40px;
    }
    .order-section div:first-child {
        font-size: 24px;
    }
    .order-section div:nth-child(2) {
        font-size: 30px;
    }
    .speed-section p.speed-value {
        font-size: 26px;
    }
    .table-section .table-view {
        margin: 10px 20px;
    }
    .table-section ol {
        padding-left: 20px;
    }
    .home-section {
        height: 310px;
        font-size: 35px;
    }
    .router-section img {
        width: 350px;
    }
    .router-section .beach-right,
    .router-section .beach-left{
        min-height: 260px
    }
    .router-section .content {
        font-size: 28px;
        left: 30px;
        top: 37px;
        text-align: left;
    }
    .travel-section img {
        max-width: 265px;
    }
    .order-page .contact-form {
        padding: 30px 20px;
        font-size: 12px;
    }
    .order-page .contact-form .text {
        margin-left: 20px;
        padding: 10px;
        font-size: 22px;
    }
    .order-page .network-section, .order-page .price-section, .order-page .total-section, .order-page .divider-5 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .order-page .network-section .network-type {
        padding-top: 10px;
        font-size: 17px;
    }
    .order-page .payment-form {
        padding: 20px 20px 30px 20px;
        font-size: 12px;
    }
}




/* Naresh - 15-09-2018 */

.mt0{ margin-top:0;  }
.pb0{ padding-bottom:0;  }
.mt10{ margin-top:10px;  }
.mb0{ margin-bottom: 0px;  }
.mb10{ margin-bottom: 10px;  }
.mt30{ margin-top:30px;  }
.pb20{ padding-bottom: 20px; }
.pb10{ padding-bottom: 10px; }
.bg-black{ background: #000; }
.bg-gray{ background: #f1f1f1; }
.color-white{ color: #fff; }
.color-purple{ color: #ED0080; cursor: pointer;}
.color-light-blue{ color: #00AEEF; cursor: pointer;}
.non-decoration{ text-decoration: none;}
.label-check-coverage{ font-size: 20px; font-family: "Myriad Pro"; font-weight: bold; margin-bottom:-10px;}
.check-coverage-link{ font-size:25px;  font-weight:bold;}
.check-coverage-link:first-child:after{content:"|"; font-size:30px;font-weight:300;height:30px;color:white;margin:0 10px;text-decoration:none;}


.color-black{ color:black; }
.color-red{ color:#E80B0B; }

.table-section {    font-size: 28px; }
.table-section img {    max-height: 30px;    width: auto;    margin-right: 10px; }
.table-section .table-data {    font-size: 23px; }
.page-plan .pricing-table .pricing-container .btn-red{ padding: 10px 20px; font-family: "MyriadProBold"; }
.site-top-mobile-no .container {    max-width: 860px;    font-size: 45px;    padding: 6px;    font-weight: 200;} /*added by autro*/
.common-top .speed-tracker-header{ padding-top:25px; clear: both; overflow: hidden; position: relative; }
.common-top .speed-tracker-header .right-lable-management {  text-align:center;  position: absolute;    right: 0;    top: 50%;    transform: translateY(-50%);    background: #000;    padding: 5px;    border-radius: 20px;}
.common-top .speed-tracker-header .right-lable-management .right-label-border { 
     padding: 1px 5px;    border-radius: 20px;
     border-left: 1px solid rgb(170,170,170);
     border-right: 1px solid rgb(170,170,170,0.3);
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     background-position: 0 0, 0 100%;
     background-repeat: no-repeat;
     -webkit-background-size: 100% 1px;
     -moz-background-size: 100% 1px;
     background-size: 100% 1px;
     background-image: -webkit-linear-gradient(left, rgb(170,170,170) 0%, rgb(170,170,170,0.3) 100%), -webkit-linear-gradient(left, rgb(170,170,170) 0%, rgb(170,170,170,0.3) 100%);
     background-image: -moz-linear-gradient(left, rgb(170,170,170) 0%, rgb(170,170,170,0.3) 100%), -moz-linear-gradient(left, rgb(170,170,170) 0%, rgb(170,170,170,0.3) 100%);
     background-image: -o-linear-gradient(left, rgb(170,170,170) 0%, rgb(170,170,170,0.3) 100%), -o-linear-gradient(left, rgb(170,170,170) 0%, rgb(170,170,170,0.3) 100%);
     background-image: linear-gradient(to right, rgb(170,170,170) 0%, rgb(170,170,170,0.3) 100%), linear-gradient(to right, rgb(170,170,170) 0%, rgb(170,170,170,0.3) 100%);
    }
.common-top .speed-tracker-header .right-lable-management .right-label-border div { transform: scale(0.8,1); }
.common-top .speed-tracker-header ul{ margin: 0; padding: 0; }
.common-top .speed-tracker-header ul li{ list-style: none; }
.common-top .speed-tracker-header .nationwide-header img{ max-height: 100px; }
.common-top .top-header .container{ max-width: 1268px; }
.common-top .top-header .sub-header h3{ font-size: 25px; }
.common-top .top-header .nationwide-header h3{ font-size: 25px; }
.site-top-mobile-no .container .col-sm-5 {    font-size: 21px;    margin-top: 5px; }
.common-top .speed-tracker-header h3 {    font-weight: bold; font-size:40px; }
.common-top .speed-tracker-header h3 span {    font-size: 40px;    margin-right: 10px;  float:right;}
.common-top .speed-tracker-header-coverage h3 span {    font-size: 32px;    margin-right: 10px;  float:right;}
.common-top .speed-tracker-header-coverage h3 span{ float: none;}
.common-top .speed-tracker-header h3 sub {    font-size: 15px; font-weight: normal; }

/* Footer */
footer.site-footer{  padding: 20px; }
footer.site-footer a:not(.color-light-blue):not(.color-purple),footer.site-footer{ color: #bbb; font-size:19px; }
footer.site-footer h4{ font-size: 22px; color: #fff !important; font-weight: bold; }
footer.site-footer ul li{ list-style: none; }
footer.site-footer ul{ margin: 0; padding: 0; margin-bottom: 20px; }
footer.site-footer ul li span{ float: right; }
footer.site-footer .terms-services ul li{ margin-bottom: 10px; }
footer.site-footer .row > div{ text-align: center; }
footer.site-footer .row > div > div{ display: inline-block; margin: 0 auto; max-width: 280px; text-align: left;  }
.site-footer .right-lable-management{text-align: center;    padding: 1px 15px;    border-radius: 20px;    border: rgba(170,170,170,0.2) solid 1px;}

/* Footer */

/* Page Coverage */
.page-coverage .map-content{ position: relative;  }
.page-coverage .map-content img{ max-width: 97%; padding: 70px 30px; padding-top: 25px; }
.page-coverage .top-title{ position: absolute;top: 10px;text-align: center;width: 100%; }
.page-coverage .middle-title {    position: absolute;    top: 0%;     text-align: center;    width: 100%;}
.page-coverage .middle-title h1 {    font-size: 54px;    font-weight: bold;    text-shadow: 5px 6px 9px black; }
.page-coverage .bottom-section {    position: absolute;    bottom: 50px;    left: 60px;    max-width: 300px;    font-weight: bold;}
.page-coverage .bottom-section > div{ margin-bottom: 10px;  }
.page-coverage .bottom-section > div:first-child{ margin-bottom:0px;  }
.page-coverage .single-booking .container-fluid{ max-width: 1270px; font-weight: 700; font-size: 16px; }
.page-coverage .single-booking h2{ margin-bottom:20px; font-weight: bold; position: relative; overflow: hidden; }
.page-coverage .single-booking h2::after {    content: "";    position: absolute;    width: 100%;    height: 2px;    background: #ccc;    margin-left: 20px;    top: 50%; margin-top: 1px; }
.page-coverage .single-booking img{ max-width: 100%;  }
.page-coverage .single-booking ul li{ list-style: none; margin-bottom: 20px;  }
.page-coverage .single-booking .right-section p {    max-width: 480px;    float: right;    text-align: center;}
.page-coverage .now-you-can-play {    position: absolute;    top: -60px;    right: 15px;    background: red;    padding: 30px;    font-size: 22px;    border-radius: 100%;    transform: rotate(10deg);}
.page-coverage .map-content .right-lable-management{    position: absolute;    bottom: 80px;    right: 25%;    text-align: center;    padding: 1px 15px;    border-radius: 20px;    border: rgba(170,170,170,0.2) solid 1px;}

/* Page Coverage */

/* Page Plans */
.page-plan .single-booking .container-fluid{ max-width: 1270px; font-weight: 700; font-size: 16px; }
.page-plan .single-booking h2{  font-weight: bold; position: relative; overflow: hidden; margin:0;}
.page-plan .single-booking h2::after {    content: "";    position: absolute;    width: 100%;    height: 2px;    background: #ccc;    margin-left: 20px;    top: 50%; margin-top: 1px; }
.page-plan .header-sub-title {    font-size: 25px;    font-weight: normal;  }
.page-plan .pricing-table{  font-size: 40px;   margin-bottom: 100px; }
.page-plan .pricing-table .pricing-container{ clear: both; position: relative }
.page-plan .pricing-table .pricing-container > div{ clear: both; overflow: hidden; margin-top: 30px; position: relative; }
.page-plan .pricing-table .pricing-container > div:nth-child(1){ overflow: unset; }
.page-plan .pricing-table .pricing-container > div > div:nth-child(1){ float: left; font-family: 'MyriadProBold'; }
.page-plan .pricing-table .pricing-container > div > div:nth-child(2){ text-align: right; float: right; font-family: "MyriadPro"; }
.page-plan .pricing-table .pricing-container sup {    font-size: 19px;    top: -15px; }
.page-plan .pricing-table .pricing-container sup span {    position: absolute;bottom: -5px;right: -35px; }
.page-plan .pricing-table .sub-total {    margin-top: 0px !important; }
.page-plan .pricing-table .pricing-container > div.plus-instant-saving {   position: absolute;  bottom: 0px;  right: 200px; font-weight:bold; overflow:unset; line-height: 40px; }
.page-plan .pricing-table .pricing-container > div.plus-instant-saving .instant-plus {   position: absolute; transform:rotate(-22deg); top: -30px; left: -70px;}
.page-plan .pricing-table .pricing-container > div.plus-instant-saving .instant-arrow {   position: absolute; top: 0px;    left: 130px;    transform: scale(0.6);}
.page-plan .pricing-table .pricing-container  .sub-total-mark .MyriadProBold{border:red solid 2px; border-radius:50%; margin:10px 0px; padding:0 5px; font-weight: bold;}
.page-plan .pricing-table .pricing-container  .freeshipping{position: absolute; bottom:0px; right:450px;}
.page-plan .pricing-table .pricing-container  .freeshipping img{width:250px;}
.page-plan .pricing-table .pricing-container  .btn-red{margin-bottom: 20px; background-color:red; font-size:40px; color:white;float:right;}

.page-plan .pricing-table .sub-total .bold {  font-weight: bold; }
.page-plan .pricing-table .sub-total.line > div:nth-child(2){ border-top: 2px solid #333; margin-top:5px; }
.page-plan .limit-offer-abs-page-design .pos-handler > div{  font-weight: bold; text-align: center;  }
.page-plan .limit-offer-abs-page-design .pos-handler .first div:nth-child(1) {    font-size: 25px;    font-weight: bold;    position: absolute;     transform: rotate(-22deg);    text-shadow: 0px 1px red; }
body .limit-offer-abs-page-design {    overflow: unset !important;     }
.page-plan .limit-offer-abs-page-design .pos-handler { display:flex; text-align: center; margin-top:40px; margin-bottom: -25px;z-index: 1;position: relative; }
.page-plan .limit-offer-abs-page-design .pos-handler>div { margin:auto;display:flex;position:relative}
.page-plan .limit-offer-abs-page-design .pos-handler .first div > span.first-now-span{ font-size: 50px; }
.page-plan .limit-offer-abs-page-design .pos-handler .first div sup{ font-size: 40px; font-weight: 300; }
.page-plan .limit-offer-abs-page-design .pos-handler .first div .first-month-span{ font-size: 30px;margin-left:-45px; }
.page-plan .limit-offer-abs-page-design .pos-handler .first div > span{ font-size: 80px; }
.page-plan .limit-offer-abs-page-design .pos-handler .first div:nth-child(3){ font-size:40px;}
.page-plan .limit-offer-abs-page-design .pos-handler .second img{ max-width: 250px; }
.page-plan .limit-offer-abs-page-design .pos-handler .second{ position: relative;  margin-left: 20px; }
.page-plan .limit-offer-abs-page-design .pos-handler .second > div {    position: absolute;    top: 56%;    left: 50%;    transform: translate(-50%,-50%);    width: 100%;}
.page-plan .limit-offer-abs-page-design .pos-handler .second > div div:nth-child(1) {  font-size: 25px; font-family: "MyriadProBold";    transform: scaleX(0.9); font-weight:bold}
.page-plan .limit-offer-abs-page-design .pos-handler .second > div div:nth-child(2) {  font-size: 85px;    font-family: "MyriadProBold";    transform: scaleX(0.9); font-weight:bold}
.page-plan .limit-offer-abs-page-design .pos-handler .second > div div:nth-child(2) sup { font-size: 55%;}
.page-plan .limit-offer-abs-page-design .pos-handler .third{ position: relative; font-size: 28px;    line-height: 30px;font-size: 28px;     line-height: 30px; }
.page-plan .limit-offer-abs-page-design .pos-handler .third div:nth-child(1) {    font-size: 25px;    font-weight: bold;    position: absolute;    top: -30px;    transform: rotate(-25deg);    left: -30px; text-shadow: 0px 1px red; }
.page-plan .limit-offer-abs-page-design .pos-handler .third div:nth-child(3){ margin-top:10px;  }
.page-plan .limit-offer-abs-page-design .pos-handler .third .position-abdolute {    position: absolute;    bottom: 16px;    right: -70px; }
.router-section {    min-height: 420px; }
/* Page Plans */

/* Page Coverage */
.page-compare .single-compare .container-fluid{ max-width: 1270px; font-weight: 700; font-size: 16px; }
.page-compare .single-compare h2{ margin-bottom:20px; font-weight: bold; position: relative; overflow: hidden; }
.page-compare .single-compare h2::after {    content: "";    position: absolute;    width: 100%;    height: 2px;    background: #ccc;    margin-left: 20px;    top: 50%; margin-top: 1px; }
.page-compare .header-sub-title {    font-size: 25px;    font-weight: normal;  }
.page-compare .table-section {    font-size: 23px; }
.page-compare .table-section img {    max-height: 25px;    width: auto;    margin-right: 10px; }
.page-compare .table-section .table-data {    font-size: 20px; }
.page-compare .single-compare h3{ font-size: 28px; } 
.page-compare .single-compare .table-section ol {    padding-left: 100px; }
.page-compare .single-compare .table-section .small {    font-size: 17px;    margin-top: 30px; }
/* Page Coverage */

/* page Order */
.col-sm-4.col-xs-4.m-t-20.mobile-cvv div {    margin-right: 20px; }
.check-coverage-link,.label-check-coverage{ font-family: "AkzidGroProBold"; }
.site-top-mobile-no,.common-top .speed-tracker-header h3{ font-family: "AkzidGroProBold"; font-weight: normal; }/* added by autro*/
.check-coverage-link{ font-size: 28px; }
.label-check-coverage{ font-size: 22px; }
.site-footer .right-lable-management{ padding: 5px 20px; }

.page-plan .pricing-table .pricing-container .freeshipping {    position: absolute;    bottom: -40px;    right: 420px; }

@media screen and (min-width: 1230px) and (max-width: 1400px){
    .nav > li > a{ padding: 10px 10px; }
    .navbar-default .navbar-main .home a{ padding-right: 10px; }
    .navbar-default .navbar-right li:first-child{ margin-right: 0px; }
    .navbar-default .navbar-right li:first-child a{ font-size: 22px; }
    .navbar-default .navbar-nav.navbar-right{ padding-top: 10px; }
}

@media screen and (min-width:1600px){
    .contact-form > div:nth-child(2) .col-sm-3:not(.verify-col){
        padding-left:40px;
    }
}
@media screen and (max-width: 1600px){
    .home-section{ background-size: auto;}
    .navbar-default{ padding: 0px; }
    .navbar-default .navbar-nav.navbar-main {    padding: 40px 0px; }
    .navbar-default .navbar-right li:first-child a,.navbar-default .navbar-right li:first-child {    font-size: 27px;     font-weight: bold; }
}

@media (min-width: 1200px){
    .site-footer .container {
        width: 1378px;
    }
}

@media screen and (max-width:1200px){
    .bg-need-to-add img{
        display:none;
    }
}

@media screen and (min-width: 990px) and (max-width: 1200px){
    /* Order Page */
    .contact-form .form-group .col-sm-4,.contact-form .form-group .col-sm-3{ width: 100%; display: block; }
    .contact-form .form-group .col-sm-8,.contact-form .form-group .col-sm-9{ width: 100%; margin-top: 0px; }
    .payment-form .form-group .col-sm-4,.payment-form .form-group .col-sm-3{ width: 100%; display: block; text-align: left; }
    .payment-form .form-group .col-sm-8,.payment-form .form-group .col-sm-9{ width: 100%; margin-top: 0px; text-align: left; }
    .extra-address.form-group .col-sm-2,.extra-address.form-group .col-sm-3{ width: 100%; text-align: left; }
    .extra-address.form-group .col-sm-10, .extra-address .cvv.col-sm-3, .extra-address .cvv.col-sm-2{  width: 100%; margin-top: 0px; text-align: left; }
    /* Order Page */
}
@media screen and (max-width: 1024px){
   .page-coverage .top-title{ position: static; padding-top:30px;  }
   .page-coverage .middle-title{ position: static; padding-bottom: 30px; width: 100%; left: 0; transform: unset; margin-top:-20px;  }
   .page-coverage .bottom-section{ display: none; }
   .page-coverage .map-content img {    max-width: 100%;    padding: 20px 30px; }
}
@media screen and (max-width: 989px){
    .common-top .top-header .sub-header{ clear: both; overflow: hidden; padding-top: 30px;  }
    .common-top .speed-tracker-header {    padding-top: 0px; }
    .common-top .nationwide-header { text-align: center; }

    /*.page-plan .pricing-table .pricing-container > div > div:nth-child(1){ float: none; text-align: center; }
    .page-plan .pricing-table .pricing-container > div > div:nth-child(2){ float: none; text-align: center; }*/
    body .limit-offer-abs-page-design{ position: static !important; margin-bottom: 30px; }
    .page-plan .limit-offer-abs-page-design .pos-handler > div{ position: relative; }
    .page-plan .pricing-table .pricing-container{ width: auto; }
    .page-plan .single-booking .container{ width: 100%; }
    .page-plan .pricing-table{ float: none; }
    /*.page-plan .limit-offer-abs-page-design .pos-handler > div {    float: none;    display: block;    max-width: 240px;    margin: 0 auto !important;    margin-top: 50px !important;}*/
    .page-plan .limit-offer-abs-page-design .pos-handler .third div:nth-child(1){ left: 10px; top: -20px; }
    .page-plan .limit-offer-abs-page-design .pos-handler .first div:nth-child(1) {    top: 30px;    left: -31px;    font-size: 22px;}
    .page-plan .limit-offer-abs-page-design .pos-handler .third {    margin-top: 60px !important; }
    .page-plan .limit-offer-abs-page-design .pos-handler .third .position-abdolute{ display: none; }
    /*.page-plan .overflow-managed{ display: none;  }*/
    .page-plan .pricing-table .sub-total {    margin-top: 10px !important;    margin-bottom: 10px !important;}
    .home-section,.home-section .righthalf{ background-position: center center; }
    label.cvv > div {    margin-right: 10px; }
    .page-plan .pricing-table {    font-size: 37px; }
    /* Pricing Remanaged */
    .page-plan .pricing-table .pricing-container > div > div:nth-child(2) {    margin-right: 30px; }

}
@media screen and (max-width: 767px){
    .m-p-l-0{ padding-left: 0px; }
    .page-compare .single-compare .table-section ol {    padding-left: 25px; }
    .page-coverage .single-booking h2::after{ height: 0px; }
    .mobile-text-left{ text-align: left; }
    .site-top-mobile-no .container{ font-size: 21px; }
    .site-top-mobile-no .container .col-sm-5{ border-bottom: 1px solid #aaa; padding-bottom: 10px; margin-bottom: 10px;  }
    .order-page .logo-section{ text-align: center; }
    .order-page .logo-section .logo-league{ padding-top: 20px; padding-bottom:0px; }
    .order-page .logo-section .logo-fortnite{ padding-top: 40px; padding-bottom:0px; }
    
    footer.site-footer .row > div > div{ max-width: unset; }
    footer.site-footer .row > div{ text-align: left; padding: 0; }
    .common-top .speed-tracker-header .right-lable-management{ position: static;transform: unset;clear: both;overflow: hidden; border-radius: 0; }
    .common-top .speed-tracker-header ul {    margin-bottom: 20px !important;    clear: both;    overflow: hidden;}
    .common-top .top-header .sub-header {    padding-top: 20px;    padding-bottom: 20px; }
    .page-coverage .now-you-can-play {    position: static;    transform: unset;    border-radius: 0;}
    .page-coverage .middle-title {    padding-bottom: 0px;    padding-top: 10px; }
    .router-section img{ position: static; float: right; }
    .router-section {    min-height: auto;    clear: both;    overflow: hidden; }

    /* Order Page */
    .contact-form .form-group .col-sm-4,.contact-form .form-group .col-sm-3{ width: 100%; display: block; }
    .contact-form .form-group .col-sm-8,.contact-form .form-group .col-sm-9{ width: 100%; margin-top: 0px; }
    .payment-form .form-group .col-sm-4,.payment-form .form-group .col-sm-3{ width: 100%; display: block; text-align: left; }
    .payment-form .form-group .col-sm-8,.payment-form .form-group .col-sm-9{ width: 100%; margin-top: 0px; text-align: left; }
    .extra-address.form-group .col-sm-2,.extra-address.form-group .col-sm-3{ width: 100%; text-align: left; }
    .extra-address.form-group .col-sm-10, .extra-address .cvv.col-sm-3, .extra-address .cvv.col-sm-2{  width: 100%; margin-top: 0px; text-align: left; }
    .order-page .contact-form,.order-page .network-section, .order-page .price-section, .order-page .total-section, .order-page .divider-5{ padding: 20px; }
    .order-page .payment-form{ padding: 20px; }
    .extra-address.form-group {    margin: 0px;    margin-top: 21px; }
    .order-page .divider-5{ padding: 20px 30px; }
    .order-page .account-section > div {    margin-bottom: 20px !important; }
    .order-page .network-section .network-type {    margin-top: 20px; }
    /* Order Page */

    .nationwide-header img {    width: 100%;    max-width: 240px; }
    .page-coverage .map-content .right-lable-management{ position: static; padding: 10px; }
    .speed-tracker-header .col-xs-7 {    width: 100%; }
    .navbar-default .navbar-nav.navbar-main {    padding: 0px 20px; }
    .navbar-default .navbar-nav.navbar-right {    padding: 0px;    display: block;    align-items: center;    float: none !important;    margin: 0px 15px;}
    .navbar-default .navbar-right li:first-child a, .navbar-default .navbar-right li:first-child {    font-size: 20px; }
    .navbar-default .navbar-nav.navbar-right a {    font-size: 16px;    margin: 0;    padding: 10px 0px; }
    .router-section .router {    position: absolute;    display: inline-block;    margin: 0 auto;    text-align: center;    margin-top: 15px;    left: 50%;    transform: translateX(-50%);}
    /*.page-plan .pricing-table .pricing-container > div.plus-instant-saving {    display: none; }
    .page-plan .pricing-table .pricing-container .freeshipping{ display: none; }*/
    .order-page .logo-section img{ max-width: 284px !important; width: 100%; }
    .order-page .logo-section{ padding: 0px; }
    .order-page .logo-section .logo-fortnite {    padding-top: 20px; }
    .common-top .speed-tracker-header ul li > div{ padding: 0px; }
    .page-compare .single-compare h2::after { height: 0px; }
    .common-top .speed-tracker-header .right-lable-management .right-label-border{ border-radius: 0; }
    
    .table.rwd-table td, .table.rwd-table th {    font-size: 16px;    font-weight: bold; text-align: left; }
    
    .table-responsive > .table {    margin-top: 4px;  }
    .table-responsive{ overflow: hidden; }
    .table-section .table > tbody > tr > td{ border-bottom: 0px; }
    .table-section .table-view {    border-radius: 0px;   }
    .table-section .table tr:nth-child(2n){ background: #f1f1f1; }
    .mobile-select-design select {    width: calc(50% - 2px);    height: 32px;    padding-left: 10px;}
    label.cvv > input {    width: 100% !important; }
    .col-sm-4.col-xs-4.m-t-20.text-right[for="cardExpiry"] {    margin-bottom: -10px !important;    display: block;}
    .col-sm-4.col-xs-4.m-t-20.mobile-cvv {    margin-bottom: -10px; }
    label.cvv > input {    width: 100% !important;    height: 33px;}
    label.cvv > div{ padding-top: 10px; }

    /* Plan redesigned */
    .page-plan .limit-offer-abs-page-design .pos-handler .first div > span.first-now-span{ font-size: 40px; }
    .page-plan .limit-offer-abs-page-design .pos-handler .first div > span{ font-size: 55px;  }
    .page-plan .limit-offer-abs-page-design .pos-handler .first div sup{ font-size: 30px; }
    .page-plan .limit-offer-abs-page-design .pos-handler .first div:nth-child(3){ font-size: 30px; margin-top:0px !important; }
    .page-plan .limit-offer-abs-page-design .pos-handler .second > div div:nth-child(2){ font-size: 65px; }
    .page-plan .limit-offer-abs-page-design .pos-handler .second > div div:nth-child(1){ font-size: 25px; }
    .page-plan .limit-offer-abs-page-design .pos-handler .second img {    max-width: 200px;   }
    .page-plan .limit-offer-abs-page-design .pos-handler .second {    margin-left: 20px !important; }
    .page-plan {    margin-top: 20px; }
    .page-plan .limit-offer-abs-page-design .pos-handler .first {    margin-right: 20px; }
    .page-plan .pricing-table{ font-size: 27px; }
    .page-plan .pricing-table .pricing-container sup{ font-size: 17px; top: -12px; }
    .page-plan .pricing-table .pricing-container .sub-total-mark{ margin-right: 25px; }
    .page-plan .pricing-table .pricing-container > div.plus-instant-saving .instant-arrow{ left: 81px; }
    .page-plan .limit-offer-abs-page-design .pos-handler .first div:nth-child(1) {    left: 1px;    top: 8px;    font-size: 17px;}
    .page-plan .pricing-table .pricing-container .freeshipping img{ width: 100%; }
    .page-plan .pricing-table .pricing-container .freeshipping {    bottom: -60px;    right: 340px; width: 210px; }
}

@media (max-width: 599px){
        .page-plan .limit-offer-abs-page-design .pos-handler .first div > span.first-now-span{ font-size: 30px; }
        .page-plan .limit-offer-abs-page-design .pos-handler .first div > span{ font-size: 45px;  }
        .page-plan .limit-offer-abs-page-design .pos-handler .first div sup{ font-size: 20px !important; }
        .page-plan .limit-offer-abs-page-design .pos-handler .first div:nth-child(3){ font-size: 22px; margin-top:0px !important; }
        .page-plan .limit-offer-abs-page-design .pos-handler .second > div div:nth-child(2){ font-size: 55px; }
        .page-plan .limit-offer-abs-page-design .pos-handler .second > div div:nth-child(1){ font-size: 17px !important; }
        .page-plan .limit-offer-abs-page-design .pos-handler .second img {    max-width: 150px;   }
        .page-plan .limit-offer-abs-page-design .pos-handler .second > div{ top: 50%; }
        .page-plan .limit-offer-abs-page-design .pos-handler .second {    margin-left: 20px !important; }
        .page-plan {    margin-top: 20px; }
        .page-plan .limit-offer-abs-page-design .pos-handler .first {    margin-right: 20px; }
        .page-plan .pricing-table{ font-size: 27px; }
        .page-plan .pricing-table .pricing-container sup{ font-size: 17px; top: -12px; }
        .page-plan .pricing-table .pricing-container .sub-total-mark{ margin-right: 25px; }
        .page-plan .pricing-table .pricing-container > div.plus-instant-saving .instant-arrow{ left: 81px; }
        .page-plan .limit-offer-abs-page-design .pos-handler .first div:nth-child(1) {    left: 1px;    top: 8px;    font-size: 17px;}
        .page-plan .pricing-table .pricing-container .freeshipping img{ width: 100%; }
        .page-plan .pricing-table .pricing-container .freeshipping {    bottom: -60px;    right: 340px; width: 210px; }
        .page-plan .limit-offer-abs-page-design .pos-handler .first div .first-month-span{ font-size: 14px !important; margin-left: -31px; }
}

@media screen and (max-width: 480px){
    .rwd-table td:before{ width: 9em;  }
    .definition-row { padding: 0 2%; }
    
}


sup.plane {
    padding-left: 10px;
}


.compare-page-design .common-top .speed-tracker-header h3.mt10 {
    margin-top: 10px;
}
.page-coverage .middle-title h1 {
    /* text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black; */
    text-shadow:0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 10px black;
    font-size: 65px;
}
.page-coverage .bottom-section {
    font-size: 15px;
}
.stike-text span {
    text-decoration: line-through;
    margin-right: 50px;
}
.order-page select, .order-page input[type="text"] {
    height: 35px;
    line-height: 35px;
    padding: 3px;
    margin-right: 2px;
    border-radius: 0;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
    border: 1px solid #999;
}
.order-page .form-control {
    border-radius: 0;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
    border:1px solid #999;
}
.page-coverage .bottom-section input{ margin-right:10px;  }
.page-coverage .map-content img {
    padding-top: 35px;
}
span.first-month-span {
    font-size: 20px !important;
}
.save-order {
    margin-top: -20px;
}

@media (min-width: 320px) and (max-width: 480px)
{
    .page-plan .limit-offer-abs-page-design .pos-handler .second img
    {
        max-width: 100%;
    }
}



/* Coverage */
@media (min-width: 481px) and (max-width: 768px)
{
    .page-coverage .now-you-can-play
    {
        transform: none;
        top: 120px;
        right: 35%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
{
    .page-coverage .now-you-can-play
    {
        transform: none;
        top: 120px;
        right: 35%;
    }
}

.common-top .speed-tracker-header-coverage h3 {	font-size: 32px;	transform: scaleY(1.3); margin-bottom: 20px; }
.page-coverage .single-booking .container-fluid {	max-width: unset;	font-weight: 700;	font-size: 16px;
	padding: 15px 30px;
}


.bold{ font-weight: bold; }
.bg-need-to-add {    position: relative;}
.bg-need-to-add img {    position: absolute;    left: 0;    z-index: -1;    max-height: 26px; width:100%; margin-top:5px;    }
sup.plane{ font-weight: bold; }
.page-plan .limit-offer-abs-page-design .pos-handler .second > div div:nth-child(1) {    font-size: 30px;    -webkit-transform: scaleY(1.3);    transform: scaleY(1.3);    }
.page-plan .limit-offer-abs-page-design .pos-handler .first div sup {    font-size: 40px;    font-weight: bold;}
.MyriadProBold.change-font-style {    font-size: 45px;    transform: scaleY(1.1); }
.page-plan .pricing-table .pricing-container .btn-red {    border: 1px solid #000; }
.page-plan .single-booking h2::after,.page-compare .single-compare h2::after{ background: #000; }
.order-page .total-section {    padding-bottom: 40px;}
.stike-text span {    text-decoration: line-through solid red;    margin-right: 50px;}
.state-fixed-width{ max-width: 50px; }
.zip-fixed-width{ max-width: 100px; }
.order-page form label {    font-size: 14px; }
.midlle-align-desk{ padding-top: 8px; text-align: right; }
@media screen and (max-width:767px){
    .common-top .speed-tracker-header h3.mt10 { margin-top: 0px; }
    .bg-need-to-add img{ display: none; }
}

.page-plan .limit-offer-abs-page-design .pos-handler .first div sup {	top: -.7em !important; }
.network-type label { width: 90px;}
.network-type label input { float: right; }





/* Naresh Responsive css 28/09/2018 */

/* Coverage Page */
.table-section .table-view {    margin: 10px 5%; }
@media (max-width: 980px){
    .page-plan .limit-offer-abs-page-design .pos-handler{ margin-top: 10px; }
    /*.page-plan .limit-offer-abs-page-design .pos-handler .first div > span:last-child{ display: block; margin-top: -30px; }*/
    .page-plan .limit-offer-abs-page-design .pos-handler .first{ margin-top: 15px; }
    .page-plan .limit-offer-abs-page-design .pos-handler .first div:nth-child(3) {    line-height: 40px;    margin-top: 10px;    margin-bottom: 30px;}
    .page-plan .limit-offer-abs-page-design .pos-handler .second{ margin-left: 0px; }
    /*.page-plan .pricing-table .pricing-container .freeshipping{ display: none; }*/
    .page-plan .pricing-table .pricing-container .sub-total-mark .MyriadProBold{ max-width: 150px; margin:5px auto; }
    /*.page-plan .pricing-table .pricing-container > div.plus-instant-saving{ display: none; }*/
    .site-top-mobile-no .mobile-text-left {    text-align: center !important; }
}
@media (max-width: 767px){
    .now-you-can-play {        text-align: center;    }
    .now-you-can-play br{ display: none; }
    .col-sm-4.follow-us {    text-align: center !important; }
    .col-sm-4.follow-us > div{ display: block !important; }
    .site-footer .right-lable-management {    padding: 5px 20px;    /* position: relative; */    /* left: 60%; */    max-width: 300px;    margin: 0 auto;}
}
@media (min-width: 481px) and (max-width: 768px)
{
    .page-coverage .now-you-can-play {
        -webkit-transform: none;
        transform: none;
        top: 150px !important;
        right: 0% !important;
    }
    .page-plan .limit-offer-abs-page-design .pos-handler .second
    {
    	margin-left: 0 !important;
    }
    .page-plan .limit-offer-abs-page-design .pos-handler
    {
    	margin-top: 0 !important;
    }
    .page-coverage .map-content .right-lable-management {
        bottom: 20px;
        left: 0;
        right: unset;
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
{
    .page-coverage .now-you-can-play {
        top: 140px !important;
        -webkit-transform: none;
        transform: none;
        right: 1%;
    }
    .page-coverage .map-content .right-lable-management {
        bottom: 50px;
        left: 0;
        right: unset;
    }
}
@media (max-width: 600px)
{
	.page-plan .limit-offer-abs-page-design .pos-handler
	{
		margin-top: 0 !important; 
	}
	.page-plan .limit-offer-abs-page-design .pos-handler .second
    {
    	margin-left: 0 !important;
    }
    .list-book-work.MyriadProSemiBold
    {
    	margin-left: -50px;
    }
    .table-section .table-view
    {
    	margin: 0 !important;
    }
    .common-top .speed-tracker-header-coverage h3,.common-top .speed-tracker-header-coverage h3 span{ font-size: 23px; }
    .common-top .speed-tracker-header-coverage h3 .bg-need-to-add{ font-size: 21px; }
    .common-top .speed-tracker-header h3 span,.common-top .speed-tracker-header h3{ font-size: 22px; }
    .page-compare .single-compare h3{ margin-bottom: 10px; }
    .page-coverage .middle-title h1{ font-size: 35px; }
    .page-coverage .map-content img{ padding-top: 0px; }
}
.page-coverage .now-you-can-play
{
	top: -27px;
}
@media (max-width: 320px)
{
	.page-coverage .middle-title h1
	{
		font-size: 25px !important;
        margin-top: 5px;
	}
}



/* Compare Page */
@media (max-width: 320px)
{
	.table-section .table-view
	{
		margin: 0 auto !important;
	}
	.page-compare .table-section img
	{
		margin-right: 0 !important;
		margin-left: -15px !important;
	}
}
@media (min-width: 600px) and (max-width: 700px)
{
	.page-compare .table-section img
	{
		margin-left: -60px;
	}
}

/* Paln Page */
@media (max-width: 320px)
{
	.page-plan .limit-offer-abs-page-design .pos-handler .first div:nth-child(1)
	{
		left: 0 !important;
	}
	.page-plan .limit-offer-abs-page-design .pos-handler .second > div div:nth-child(2)
	{
		font-size: 70px !important;
	}
	.page-plan .limit-offer-abs-page-design .pos-handler .second img
	{
		max-width: 90% !important;
	}
	.page-plan .pricing-table .pricing-container .btn-red
	{
		font-size: 25px !important;
	}
	.plan 
	{
    	margin-top: 20px;
	}
}