<main>
    <div class="banner-section">
        <div class="row">
            <div class="col-md-7 col-xs-12">
                <p>Unlimited Wireless<br> Internet that won't<br> slow you down!</p>
            </div>
            <div class="col-md-5"></div>
        </div>
    </div>
    <div class="common-top bg-gray pb10">
         <section class="site-top-mobile-no bg-black color-white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center mobile-text-left MyriadPro">
                        <div>Order today: 1.888.414.9020</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="top-header">
            <div class="container">
                <div class="row">
                    <div>
                        <div class="col-md-3">
                            <div class="nationwide-header">
                                <h3>Nationwide Averages:</h3>
                                <div><img src="assets/img/coverage-logo.png" /></div>
                            </div>
                        </div>
                        <div class="col-md-9 speed-tracker-header-parent">
                            <div class="speed-tracker-header">
                                <ul>
                                    <li>
                                        <div class="col-xs-12 col-12">
                                            <h3>Download <span class="color-black">27.8 Mbps</span></h3>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-xs-12 col-12">
                                            <h3 class="mt10"> Ping <span class="color-black">35.76 ms</span></h3>
                                        </div>
                                    </li>
                                </ul>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center sub-header">
                        <h3 class="mt0">Speed will depend on distance from tower, network load, and local Interference.</h3>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <div class="blazing-section1">
        <img src="assets/img/bglte.jpg"/>
        <div class="section-title" style="position:absolute">
            <p>Your next generation of wireless speed is here!</p>
        </div>
        <div class="section-content" style="position:absolute">
            <p>Nationwide</p>
            <p>4G LTE Coverage</p>
        </div>
    </div>
    <div class="lte-section bg-black text-center p-t-20 p-b-10 c-white"><p>Compare to Satellite Internet</p></div>
    <div class="table-section">
        <div class="row p-l-30">
            <div class="col-md-12 text-center">
                <p><b>Because Unlimited should mean UNLIMITED</b></p>
            </div>
        </div>
        <div class="table-view">
            <div class="table-responsive">
                <table class="table rwd-table">
                    <thead>
                        <th></th>
                        <th><strong><em>Blazing Hog</em></strong></th>
                        <th><strong><em>HughesNet</em></strong></th>
                        <th><strong><em>ViaSat</em></strong></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-th="" class="text-center">"Unlimited" <br class="mobile"><strong><u><em>High-Speed DATA</em></u></strong></td>
                            <td data-th="Blazing Hog" class="table-data"><img src="assets/img/yes.jpg" /><strong>YES</strong></td>
                            <td data-th="HughesNet" class="table-data p-t-15"><img src="assets/img/no.png" /><strong>NO</strong><sup>1</sup></td>
                            <td data-th="ViaSat" class="table-data p-t-15"><img src="assets/img/no.png" /><strong>NO</strong><sup>1</sup></td>
                        </tr>
                        <tr>
                            <td data-th="" class="text-center">Online Gaming</td>
                            <td data-th="Blazing Hog" class="table-data"><img src="assets/img/yes.jpg" /><strong>YES</strong></td>
                            <td data-th="HughesNet" class="table-data p-t-15"><img src="assets/img/no.png" /><strong>NO</strong></td>
                            <td data-th="ViaSat" class="table-data p-t-15"><img src="assets/img/no.png" /><strong>NO</strong></td>
                        </tr>
                        <tr>
                            <td data-th="" class="text-center">Video Streaming <br class="mobile"> in HD1080</td>
                            <td data-th="Blazing Hog" class="table-data"><img src="assets/img/yes.jpg" /><strong>YES</strong></td>
                            <td data-th="HughesNet" class="table-data p-t-15"><img src="assets/img/no.png" /><strong>NO</strong></td>
                            <td data-th="ViaSat" class="table-data p-t-15"><img src="assets/img/yes.jpg" /><strong><em>$200/mo</em></strong></td>
                        </tr>
                        <tr>
                            <td data-th="" class="text-center">Plug and Play</td>
                            <td data-th="Blazing Hog" class="table-data"><img src="assets/img/yes.jpg" /><strong>YES</strong></td>
                            <td data-th="HughesNet" class="table-data p-t-15"><img src="assets/img/no.png" /><strong>NO</strong></td>
                            <td data-th="ViaSat" class="table-data p-t-15"><img src="assets/img/no.png" /><strong>NO</strong></td>
                        </tr>
                        <tr>
                            <td data-th="" class="text-center">Take it with you</td>
                            <td data-th="Blazing Hog" class="table-data"><img src="assets/img/yes.jpg" /><strong>YES</strong></td>
                            <td data-th="HughesNet" class="table-data p-t-15"><img src="assets/img/no.png" /><strong>NO</strong></td>
                            <td data-th="ViaSat" class="table-data p-t-15"><img src="assets/img/no.png" /><strong>NO</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row definition-row" >
            
            <div class="col-md-12 p-t-20">
                <p>Definition of unlimited</p>
                <ol>
                    <li>lacking any controls: unrestricted unlimited access</li>
                    <li>boundless, infinite unlimited possibilities</li>
                    <li>not bounded by exceptions</li>
                </ol>
                <p class="small">1 - Both satellite internet companies have "throttling" or deprioritization - placing other customers on the fast lane while you wait if you exceed your plans data limit based on spot beam load.</p>
            </div>
        </div>
    </div>
    <div class="home-section text-center">
        <div class="center-content">At Home &<br>on the Go</div>
        <div class="righthalf"></div>
    </div>
    <div class="travel-section text-center">
        <img src="assets/img/bottom-hog.png" class="img-fluid" />
        <span>Internet that travels</span>
    </div>
    <div class="router-section">
        <div class="col-xs-8 beach-left"></div>
        <div class="col-xs-4 beach-right"></div>
        <div class="router">
            <img src="assets/img/RouterConfig.png" />
            <div class="content">
                <p>Home</p>
                <p>RV</p>
                <p>Vacation</p>
            </div>
        </div>
    </div>
</main>
