  <!-- main -->
  <main>
    <div class="common-top bg-gray ">
        <section class="site-top-mobile-no bg-black color-white">
           <div class="container">
               <div class="row">
                   <div class="col-sm-12 text-center mobile-text-left">
                       <div>Order today: 1.888.414.9020</div>
                   </div>
               </div>
           </div>
       </section>
      
   </div>
   

   <div class="page-plan">
           <div class="limit-offer-abs-page-design">
                   <div class="pos-handler MyriadProBold">
                       <div >
                           <div class="first">
                               <div class="color-red">Limited Time Offer</div>
                               <div><span class='first-now-span'>Now</span> <span class="MyriadPro"><sup class='first-dollar-span'> $</sup>99<sup class="plane">99</sup><span class="first-month-span">month</span></span></div>
                               <div>Price locked for 24 months</div>
                           </div>
                           <div class="second MyriadProBold">
                               <img src="assets/img/circle.png">
                               <div>
                                   <div>SAVE OVER</div>
                                   <div class="save-order"><sup>$</sup>900<sup>00</sup></div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
       <section class="single-booking ">
           <div class="container-fluid">
               <div class="row">
                   <div class="header-title MyriadProSemiBold">
                       <h2>Plans</h2>
                   </div>
               </div>
           </div>
           <div class="container">
               <div class="row">
                   <div class="col-md-12">
                      
                       <div class="pricing-table">
                           <div class="pricing-container">
                               <div>
                                   <div>Blazing Hog Unlimited 4G Internet</div>
                                   <div><sup>$</sup>139<sup>99 <span>month</span></sup></div>
                               </div>
                               <div class="overflow-managed"></div>
                               <div>
                                   <div>Blazing Hog Modem</div>
                                   <div><sup>$</sup>149<sup>99</sup></div>
                               </div>
                               <div>
                                   <div>1-time Sim card activation</div>
                                   <div><sup>$</sup>49<sup>99</sup></div>
                               </div>
                               <div class="sub-total line">
                                   <div></div>
                                   <div><sup>$</sup>339<sup>97</sup></div>
                               </div>
                               <div class="sub-total sub-total-mark">
                                   <div></div>
                                   <div class="MyriadProBold change-font-style"><sup>$</sup>40<sup>00</sup></div>
                               </div>
                               <div class="sub-total line">
                                   <div></div>
                                   <div><sup>$</sup>299<sup>97</sup></div>
                               </div>
                               <div class="btn btn-red">ORDER NOW</div>
                               <div class="freeshipping">
                                   <img class="img-fluid" src="assets/img/freeshiping.png"/>
                               </div>
                               <div class="plus-instant-saving">
                                   <div class="pos-handler">
                                    
                                       <div class="third">
                                           <div class="color-red instant-plus">PLUS</div>
                                           <div class="color-red instant-content">Instant<br/>Savings</div>
                                           <div class="instant-today">TODAY!</div>
                                           <div class="instant-arrow"><img src="assets/img/arrow.png" /></div>
                                       </div>
                                   </div>
                               </div>

                               

                           </div>
                       </div>  
                   </div>
               </div>
           </div>
       </section>
       



   </div>
</main>
